In [29]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [36]:
train=pd.read_csv("train.csv")
test=pd.read_csv("test.csv")
test

,OverallQual,YearBuilt,YearRemodAdd,TotalBsmtSF,1stFlrSF,GrLivArea,FullBath,TotRmsAbvGrd,GarageCars,GarageArea,SalePrice,ExterQual_TA,Foundation_PConc,KitchenQual_TA
0,4,1961,1961,1029,1029,1029,1,5,1,261,118500,1,0,1
1,5,1921,1950,731,820,1343,1,7,1,186,154900,1,0,1
2,7,1998,1998,723,767,767,1,4,1,367,133000,1,1,1
3,4,1955,1955,1005,1005,1005,1,5,2,672,115000,1,0,0
4,6,1963,2003,1059,1068,1068,1,6,1,264,154500,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
324,4,1963,1963,1064,1040,1040,1,5,2,648,132250,1,1,1
325,5,1972,1972,894,894,894,1,6,2,600,123000,1,0,1
326,8,1983,2009,1496,1496,2132,1,5,2,612,316600,0,0,0
327,6,1961,1996,912,912,912,1,5,1,288,142000,1,0,0
328,8,2003,2004,1053,1053,1992,2,9,2,648,250000,0,1,0

In [41]:
xTrain=train.drop("SalePrice",axis=1)
yTrain=train.loc[:,"SalePrice"]
yTrain

0      158000
1      118400
2       85000
3      135000
4      172500
        ...
760    173000
761    192000
762    115000
763    135000
764    194201
Name: SalePrice, Length: 765, dtype: int64

In [32]:
model=LinearRegression()
model.fit(xTrain,yTrain)

LinearRegression()

In [38]:
xTest=test.drop("SalePrice",axis=1)
yTest=test.loc[:,"SalePrice"]
yTest

0      118500
1      154900
2      133000
3      115000
4      154500
        ...
324    132250
325    123000
326    316600
327    142000
328    250000
Name: SalePrice, Length: 329, dtype: int64

In [39]:
tahminler=model.predict(xTest)
dogrulukOrani=np.sqrt(mean_squared_error(yTest,tahminler))
dogrulukOrani

33186.38417236771

In [40]:
karsilastirmaTablosu=pd.DataFrame({"gercekDegerler":yTest,"tahminler":tahminler})
karsilastirmaTablosu

     gercekDegerler      tahminler
0            118500   83380.944694
1            154900  105974.149765
2            133000  139238.138343
3            115000  104982.049557
4            154500  140473.360146
..              ...            ...
324          132250  102816.796295
325          123000  121698.649065
326          316600  271745.844407
327          142000  131258.275591
328          250000  263005.372419

[329 rows x 2 columns]